@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
}

button:hover, a:hover, .album-container {
    cursor: pointer;
}

form input:hover {
    cursor: text;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Prata", serif;
    color: #fff;
}

nav {
    height: 100vh;
    background-color: #0C2D48;
    width: 20vw;
    position: fixed;
    color: #fff;
    font-family: "Orbitron", sans-serif;
}

#nav-header {
    padding: 60px 0px;
    text-align: center;
    height: 10vh;
}

#nav-header h1 {
    font-size: 50px;
}

#nav-header:hover {
    transform: rotate(360deg);
    animation: spinOnHover 1s linear 1;
}

@keyframes spinOnHover {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360def);
    }
}

nav ul {
    list-style-type: none;
}

nav ul a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}

nav ul a:hover {
    background-color: #fff;
    color: #292F36;
    transform: translateX(50px);
    transition: transform 1s ease;
};

#nav-footer {
    position: absolute;
    bottom: 0vh;
}

 #nav-footer p {
    text-align: center;
    padding: 20px;
}

main {
    width: 80vw;
    height: 100vh;
    right: 0;
    position: fixed;
}


#main-header {
    height: 30vh;
    width: 80vw;
    /* background-color: #B1D4E0; */
    background-image: url(../images/header-background.jpg);
    background-size: contain;
    right: 0;
    top: 0;
    position: fixed;
}

#current-song-visual {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: transparent;
    transform: translateY(50px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#current-song-visual img {
    width: 1000px;
    height: 1000px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#current-song-visual:active {
    transition: frontAndCenter 1s linear ease
}

@keyframe frontAndCenter {
    to {
        
    }
    to {

    }
}

#current-song-info {
    max-width: 800vw;
    overflow: hidden;
    mask: linear-gradient(
        90deg, 
        transparent, 
        #fff 20%,
        #fff 80%,
        transparent
    );
}

#info-banner {
    color: #fff;
    letter-spacing: 1px;
}

#info-banner h3 {
    transform: translateX(100%);
}

#info-banner, #info-banner h3 {
    width: max-content;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #fff;
}

.main-content {
    width: 80vw;
    height: 70vh;
    background-color: #145DA0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 30px;
    color: white;
}

#find-a-song-container {
    visibility: visible;
    /* visibility: hidden; */
}

#add-a-song-container {
    /* visibility: visible; */
    visibility: hidden;
}

#about-container {
    /* visibility: visible; */
    visibility: hidden;
}

#contact-us-container {
    /* visibility: visible; */
    visibility: hidden;
}

#music-finder-container {
    text-align: center;
    width: inherit;
    padding: 20px;
    height: 20vh;
}

#music-finder-container label {
    font-size: 30px;
    color: #fff;
}

#music-finder-container input {
    padding: 10px 20px;
    border: 0;
    border-bottom: #fff solid 1px;
    background-color: transparent;
    caret-color: #fff;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
}

#music-finder-container input:focus {
    outline: 0;
    font-weight: bold;
    border-bottom: #fff solid 2px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

#music-finder-container p {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

#music-finder-container  {
    flex: 1;
    color: #fff;
    margin: 20px;
}

#search-filters a {
    flex: 1;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}

#search-filters a:hover {
    text-decoration: underline;
    color: #0C2D48;
    background-color: #fff;
}

#jukebox {
    height: auto;
    overflow-y: scroll;
    margin: 20px;
    padding: 20px;
}

#jukebox ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto; */
    row-gap: 30px;
    column-gap: 30px;
    height: 40vh;
    width: 80vw;
}

#jukebox li {
    list-style-type: none;
    flex: 1;
    width: 400px;
}

.album-container {
    position: relative;
    width: 375px;
    height: 375px;
    overflow: hidden;
    box-shadow: 0 20px 20px 5px #0C2D48;
    border-radius: 10px;
}

.album-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.album-content {
    position: absolute;
    bottom: 0;
    background-color: #ffffffc8;
    color: #fff;
    width: 100%;
    padding: 20px;
    transform: translateY(55px);
    transition: transform 0.5s ease;
}

.album-container:hover {
    width: 440px;
    height: 440px;
    transform: translate(-20px,-20px);
}

.album-container:active {
    box-shadow: inset 0 0 2 5px #fff;
}

.album-container:hover img {
    object-fit: cover(50%);
}

.album-container:hover .album-content {
    transform: translateY(0px);
}

.album-content h3, .album-content p, .album-content a {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 100%;
    color: black;
    letter-spacing: 2px;
}

#add-a-song {
    margin: 40px;
    color: #fff;
}

#add-a-song form {
    margin: 40px;
}

#add-a-song fieldset {
    text-align: center;
    border-color: #fff;
    border-radius: 10pt;
    border-width: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 3fr;
    row-gap: 20px;
}

#add-a-song legend {
    padding: 0 20px;
    letter-spacing: 2px;
}

#add-a-song form label {
    letter-spacing: 2px;
}

#add-a-song form input {
    height: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 8pt;
    font-size: 20px;
}

#add-a-song form button {
    float: right;
    background-color: #fff;
}

#about-container {
    background-image: url(../images/about-dj-days.jpg);
    background-size: cover;
    height: 100vh;
}

#about-background-shade {
    background-color: #145ca086;
    height: 100%;
}

#about-content {
    padding-top: 100px;
    padding-left: 40px;
}

#about-content h1 {
    border-top-left-radius: 8pt;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 30px;
    background-color: #101720eb;
    font-weight: bolder;
    letter-spacing: 2px; 
}

#about-content div {
    padding-top: 40px;
    padding-left: 150px;
    padding-bottom:80px;
    border-bottom-left-radius: 8pt;
    background-color: #101720eb;
}

#about-content p {
    font-size: 30px;
    letter-spacing: 2px;
    border: solid 3px #fff;
    border-right: none;
    padding: 40px;
}

#contact-us-container {
    height: 90vh;
}

#contact-us-text {
    background-color: #0C2D48;
    display: flex;
    flex: auto;
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 12pt;
}

#contact-title {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
}

#contact-info {
    list-style-type: none;
    border-left: solid 3px #fff;
    padding: 20px;
    letter-spacing: 5px;
}

#contact-us-image {
    background-image: url(../images/contact-us.jpg);
    background-size: cover;
}

#contact-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 12pt;
}

#contact-us-image img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}