* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../images/pexels-picjumbocom-196652.jpg);
    background-size:contain;
    background-repeat: repeat;
}

header {
    color: #fff;
    height: 40vh;
    width: 100%;
}

#about-dj-days {
    display:inline-flex;
}

.about-content {
    flex: 1fr;
    background: #000000c9;
}

#about-dj-days div h1 {
    box-shadow: inset -3px -1px 3px #fff;
    text-align: center;
    padding: 20px;
}

#about-dj-days div p {
    padding: 20px;
    font: 50px;
}

main {
    padding: 20px;
    background-color: #000000e3;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

#nav-options {
    text-align: center;
    padding: 20px;
}
#nav-options div {
    padding: 20px;
}

#nav-options div h3, h4 {
    color: #fff;
    padding: 20px;
}

#search-filter-visibility {
    color: #fff;
    text-transform: uppercase;
    text-decoration: solid 2px underline #fff;
    letter-spacing: 2px;
    border-bottom: #ffffff;
}

#search-filter-visibility:hover {
    color: #b1aaff;
    text-decoration: solid 2px underline #b1aaff;
}

/* onclick with JS to toggle visibility */
#search-filters {
    visibility: visible;
}

#search-filters a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

#search-filters a:hover {
    text-decoration: underline;
    color: #000;
    background-color: #fff;
}

input {
    padding: 10px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #fff solid 1px;
    background-color: transparent;
    caret-color: #fff;
    color: #fff;
    letter-spacing: 1px;
    font-size: 30px;
}

input:focus {
    outline: 0;
    font-weight: bold;
    border-bottom: #fff solid 2px;
}

#nav-options button {
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    border: none;

}

#jukebox ul{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    height: 100%;
    padding-bottom: 15vh;
}

#jukebox li {
    list-style-type: none;
}

.album-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 15px 15px -10px #ffffff8a;
    border-radius: 10px;
}

.album-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.album-content {
    position: absolute;
    bottom: 0;
    background-color: #ffffffc8;
    color: #fff;
    width: 100%;
    padding: 20px;
    transform: translateY(55px);
    transition: transform 0.5s ease;
}

.album-container:hover {
    width: 110%;
    height: 110%;
    transform: translate(-10px,-10px);
}

.album-container:hover img {
    object-fit: cover(50%);
}

.album-container:hover .album-content {
    transform: translateY(0px);
}

.album-content h3, .album-content p, .album-content a {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 100%;
    color: black;
}

footer {
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient( #b1aaff, #3f2efa, #3f3a74);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 2vh;
    align-items: center;
}

#current-song-cover-art {
    height: inherit;
}

#cover-art {
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -20%);
}

#cover-art img {
    height: 300px;
    width: 300px;
    animation: rotating 10s linear infinite;
    border-radius: 50%;
    border: #fff solid 1px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-art:hover {
    transition: transform 1s ease;
    transform: translateY(-50%);
}

#current-song-info {
    max-width: 100%;
    overflow: hidden;
    mask: linear-gradient(
        90deg, 
        transparent, 
        blue 20%,
        blue 80%,
        transparent
    );
}

#info-banner {
    color: #fff;
    letter-spacing: 1px;
}

#info-banner h3 {
    transform: translateX(100%);
}

#info-banner, #info-banner h3 {
    width: max-content;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}

/* need to customize audio player properties */